/* #region General */
/******************************
* General
******************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  background-color: rgb(159, 225, 251);
}


main {
  flex: 1;
}

/* #endregion */



/* #region Header */
/******************************
* Header
******************************/

.link a {
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}

#linksGroup .link {
  display: inline;
  padding: 5%;
}

#linksGroup {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}


#logoBtn {
  width: 150px;
  align-items: center;
  background-color: rgb(159, 225, 251);
  border: none;
  display: block;
  margin: 0 auto;
}

#logoImg {
  width: 150px;
  display: block;
  margin: 0 auto;

}

#linksDiv {
  justify-content: space-between;
}

/* #endregion */



/* #region Main */
/******************************
* Main
******************************/

#wraper {
  border-radius: 5%;
  margin: auto;
  width: 50%;
  margin: auto;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 3%;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 2%;

}


.personsImg {
  border-radius: 50%;
  width: 90px;
}

ul {
  list-style: none;
}


.Contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.names {
  font-size: 1.2em;
}

.ImgBtn {
  width: 30px;
}



.leftGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rightGroup {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  background-color: white;
  border: none;
  cursor: pointer;
}


#search_box {
  width: 230px;
  height: 30px;

}


#noContacts {
  display: none;
  font-size: 1.4em;
  text-align: center;
}

/* #endregion */



/* #region Footer */
/******************************
* Footer
******************************/
footer {
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 2%;
}

/* #endregion */






/* #region PopUpModal */
/******************************
* PopUpModal-info
******************************/

/* סגנון כללי לחלון המודל */
.modal {
  display: none;
  /* מוסתר כברירת מחדל */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  /* רקע כהה חצי שקוף */
}

/* התוכן בתוך המודל */
.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 50px 30px 20px 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

/* כפתור סגירה */
.closeModal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.closeModal:hover {
  color: crimson;
}

/* תוכן פנימי */
.modal__inner {
  text-align: left;
  font-size: 1.3em;

}


.modal__inner img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

#modalTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

#modalText {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}



/* אנימציה */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* #endregion */





/* #region PopUpModal */
/******************************
* PopUpModal-edit
******************************/

#editPopUpForm {
  font-size: 1.4em;
}

#editPopUpForm label {
  display: block;
}

#editPopUpForm input {
  font-size: 1em;
  width: 200px;
  height: 30px;
}




.save-btn,
#closePopupBtn {
  background-color: rgb(159, 214, 251);
  font-size: 0.9em;
  margin-top: 5%;
  padding: 2%;
  border-radius: 25%;
  cursor: pointer;
}



/* #endregion */